.imageContainer {
  @apply mb-4 p-4;
  border: 1px solid #E3E3E3;
  border-radius: 8px;
}

.infoContainer {
  @apply flex justify-between items-center;
}

.productImage {
  object-fit: scale-down;
}

.wishlistButton {
  height: fit-content;
}
